<footer class="footer">
	<div class="copyright">
		<a href="#" class="copyright__logo"><img src="img/logo.png" alt=""></a>
		<div class="copyright__text">Все права защищены © 2019</div>
	</div>
	<div class="footer-links">
		<div class="footer-item">
			<div class="footer-item__title">Who we are</div>
			<ul class="footer-nav">
				<li class="nav__item">
					<a class="nav__link" href="#">о проекте</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="#">тренера</a>
				</li>
			</ul>
		</div>
		<div class="footer-item">
			<div class="footer-item__title">what we do</div>
			<ul class="footer-nav">
				<li class="nav__item">
					<a class="nav__link" href="#">новости</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="#">спортивная психология</a>
				</li>
			</ul>
		</div>
		<div class="footer-item">
			<div class="footer-item__title">what`s next</div>
			<ul class="footer-nav">
				<li class="nav__item">
					<a class="nav__link" href="#">видео</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="#">пакеты</a>
				</li>
			</ul>
		</div>
	</div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>