<section class="animated-top">
	<div class="animated-small animate-bg animate-bg_about-info">
		<div class="animated-small-wrap">
			<div class="animated-small__title">О проекте</div>
			<div class="animated-small__desc">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				<p>Ut enim ad minim veniam, quis nostrud </p>
				<br>
				<p>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure </p>
			</div>
			<div class="animated-small-wrap__border"></div>
		</div>
	</div>
	<div class="animated-full animate-bg animate-bg-black">
		<div class="animated-full-text">
			Мотивационный проект для хоккеистов
		</div>
		<button class="btn btn-show-video">развернуть видео</button>
	</div>
</section>
<section class="about">
	<div class="container-custom">
		<div class="about-item">
			<div class="about-content">
				<div class="about-text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
					<p>Ut enim ad minim veniam, quis nostrud</p>
					<p>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
					<br><br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<p>Ut enim ad minim veniam, quis nostrud </p>
					<p>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</p>
				</div>
			</div>
			<div class="about__img"><img src="img/about-hockey1.jpg" alt=""></div>
		</div>
	</div>
	<div class="about-item about-item_reverse">
		<div class="about-content">
			<div class="about-text">
				<h2>Title example</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				<br>
				<p>Ut enim ad minim veniam, quis nostrud </p>
				<p>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
				<br>
				<p>cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam </p>
				<br>
				<p>voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor</p>
			</div>
		</div>
		<div class="about__img"><img src="img/about-hockey2.jpg" alt=""></div>
	</div>
</section>
<section class="advantages">
	<div class="container-custom">
		<div class="section-title">Advantages</div>
		<div class="section-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
		<div class="advantages-wrap">
			<div class="advantages-item">
				<div class="advantages-item__img"><img src="img/advantage-item.png" alt=""></div>
				<div class="advantages-item__title">Title name</div>
				<div class="advantages-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </div>
			</div>
			<div class="advantages-item">
				<div class="advantages-item__img"><img src="img/advantage-item.png" alt=""></div>
				<div class="advantages-item__title">Title name</div>
				<div class="advantages-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</div>
			</div>
			<div class="advantages-item">
				<div class="advantages-item__img"><img src="img/advantage-item.png" alt=""></div>
				<div class="advantages-item__title">Title name</div>
				<div class="advantages-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</div>
			</div>
			<div class="advantages-item">
				<div class="advantages-item__img"><img src="img/advantage-item.png" alt=""></div>
				<div class="advantages-item__title">Title name</div>
				<div class="advantages-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</div>
			</div>
		</div>
	</div>
</section>