<section class="animated-top">
	<div class="animated-small animate-bg animate-bg_contacts-info">
		<div class="animated-small-wrap">
			<div class="animated-small__title">
				<p>Meet us in</p>
				<p>person or</p>
				<p>leave a message</p>
			</div>
			<div class="animated-small__contacts-text animated-small__desc">
				<p>Adress</p>
				<p>Winchester,MA,4082  Hummingbird Way</p>
				<br>
				<p>Phone</p>
				<p><a href="tel:+7819321161">781-932-1161</a></p>
				<br>
				<p>Email</p>
				<p><a href="mailto:hockeypsy@gmail.com">hockeypsy@gmail.com</a></p>
			</div>
			<div class="animated-small-wrap__border"></div>
		</div>
	</div>
	<div class="animated-full animate-bg animate-bg-black">
		<div class="animated-full-text">
			Мотивационный проект для хоккеистов
		</div>
		<button class="btn btn-show-video">развернуть видео</button>
	</div>
</section>
<section class="main-about">
	<div class="container-custom main-about-container">
		<div class="section-title">О проекте</div>
		<div class="main-about__desc">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			<br>
			<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
		</div>
		<div class="main-about__img"><img src="img/main-about.jpg" alt=""></div>
	</div>
</section>
<section class="main-video">
	<div class="container-custom">
		<div class="section-title main-video__title">Видео</div>
	</div>
	<div class="main-video-tabs">
		<div class="container-custom">
			<ul class="tabs__caption">
				<li class="active">Категория 1</li>
				<li>Категория 2</li>
				<li>Категория 3</li>
			</ul>
		</div>
		<div class="tabs__content active ">
			<div class="main-video-item"><img src="img/slider-video.jpg" alt=""></div>
		</div>
	</div>
</section>